In [2]:
# Load in Pandas 
import pandas as pd

In [3]:
#Load in Data
school_path ="../Resources/schools_complete.csv"
student_path = "../Resources/students_complete.csv"

#read in schoolas as csv:
school_df = pd.read_csv(school_path)
student_df = pd.read_csv(student_path)


print(student_df)

       Student ID       student_name gender grade         school_name  \
0               0       Paul Bradley      M   9th   Huang High School
1               1       Victor Smith      M  12th   Huang High School
2               2    Kevin Rodriguez      M  12th   Huang High School
3               3  Dr. Richard Scott      M  12th   Huang High School
4               4         Bonnie Ray      F   9th   Huang High School
...           ...                ...    ...   ...                 ...
39165       39165       Donna Howard      F  12th  Thomas High School
39166       39166          Dawn Bell      F  10th  Thomas High School
39167       39167     Rebecca Tanner      F   9th  Thomas High School
39168       39168       Desiree Kidd      F  10th  Thomas High School
39169       39169    Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score
0                 66          79
1                 94          61
2                 90          60
3                 67          58
4                 97          84
...              ...         ...
39165             99          90
39166             95          70
39167             73          84
39168             99          90
39169             95          75

[39170 rows x 7 columns]

In [4]:
#District Summary

#Total number of unique schools
schools_in_survery = pd.unique(school_df["school_name"])

len(schools_in_survery)

15

In [5]:
#Total students 
student_count = student_df["Student ID"].count()
student_count

39170

In [6]:
#Total School Budget
school_budget = school_df["budget"].sum()
print(f"${school_budget}")

$24649428

In [7]:
#Average Math score
avg_math = student_df["math_score"].mean()
avg_math

78.98537145774827

In [8]:
avg_reading = student_df["reading_score"].mean()
avg_reading

81.87784018381414

In [9]:
#Passing Math
passing_math_count = student_df[(student_df["math_score"] >= 70 )].count()["student_name"]
passing_math_percentage =(passing_math_count/ float(student_count))*100
passing_math_percentage

74.9808526933878

In [10]:
#Passing Reading 
passing_reading_count = student_df[(student_df["reading_score"] >= 70 )].count()["student_name"]
passing_reading_percent =( passing_reading_count / float(student_count)) *100 
passing_reading_percent

85.80546336482001

In [11]:
#Reading and Math:
passing_math_reading_count = student_df[
    (student_df["math_score"] >= 70) & (student_df["reading_score"] >= 70)
    ].count()["student_name"]

total_passing_rate = passing_math_reading_count / float(student_count)*100
total_passing_rate

65.17232575950983

In [12]:
#Calculate Schooltypes
school_type = school_df.set_index(["school_name"])["type"]
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [13]:
#Calculate the total students
per_school = student_df[["school_name", "Student ID"]].groupby('school_name').count()
per_school

                       Student ID
school_name
Bailey High School           4976
Cabrera High School          1858
Figueroa High School         2949
Ford High School             2739
Griffin High School          1468
Hernandez High School        4635
Holden High School            427
Huang High School            2917
Johnson High School          4761
Pena High School              962
Rodriguez High School        3999
Shelton High School          1761
Thomas High School           1635
Wilson High School           2283
Wright High School           1800

In [14]:
#total school budget
per_school_budget = school_df.groupby(["school_name"]).sum()["budget"]
per_school_budget 

#per capita spending
per_school_capita = per_school_budget / per_school["Student ID"]
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [15]:
#Average Math score
per_school_math = student_df.groupby(["school_name"]).mean()['math_score']
per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [16]:
#Average Reading score
per_school_reading =  student_df.groupby(["school_name"]).mean()['reading_score']
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [17]:
#Filter for read > 70
passing_reading = student_df[
    (student_df["reading_score"] >= 70)
]

#filter for math >70
passing_math = student_df[
    (student_df["math_score"] >= 70)
]

#filter for overall >70
passing_math_and_reading = student_df[
    (student_df["reading_score"] >= 70) & (student_df["math_score"] >= 70)
]

#groupby for reading 
passing_reading_school = passing_reading.groupby('school_name').count()['student_name']

#groupby for math
passing_math_school = passing_math.groupby('school_name').count()['student_name']

#groupby for overall
passing_math_and_reading = passing_math_and_reading.groupby('school_name').count()['student_name']


overall_df = pd.DataFrame({"count passed" : passing_math_and_reading
    })

In [18]:
# % that passed math
per_school_passing_math = (passing_math.groupby(["school_name"]).count()["student_name"]) / (per_school["Student ID"]) * 100
per_school_passing_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [19]:
# % that passed reading
per_school_passing_reading = (passing_reading.groupby(["school_name"]).count()["student_name"]) / (per_school["Student ID"]) * 100
per_school_passing_reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [20]:
#overall %

per_school_passing_overall = (((overall_df.groupby(["school_name"]).sum()["count passed"])) / (per_school["Student ID"])) * 100
per_school_passing_overall

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [68]:
#Creating school summary dataframe:
school_summary = pd.DataFrame({"School Type" : school_type,
                               "Total School Budget" : per_school_budget,
                               "Total Student Count" : per_school["Student ID"],
                               "Per Student Budget" : per_school_capita,
                               "Average Math Score" : per_school_math,
                               "Average Reading Score" : per_school_reading,
                               "% Passed Math" : per_school_passing_math,
                               "% Passed Reading":per_school_passing_reading,
                               "% Overall Passing": per_school_passing_overall
                               
                               })

#Formatting
#school_summary["Total School Budget"] = school_summary["Total School Budget"].map("${:,.2f}".format)
#school_summary["Per Student Budget"] = school_summary["Per Student Budget"].map("${:,.2f}".format)

#Display
school_summary

,School Type,Total School Budget,Total Student Count,Per Student Budget,Average Math Score,Average Reading Score,% Passed Math,% Passed Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,3124928,4976,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1081356,1858,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,1884411,2949,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,1763916,2739,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,917500,1468,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,3022020,4635,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,248087,427,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,1910635,2917,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,3094650,4761,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,585858,962,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,2547363,3999,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1056600,1761,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1043130,1635,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,1319574,2283,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1049400,1800,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [41]:
#Sort from highest 
overall_high_low = school_summary.sort_values(by=['% Overall Passing'], ascending = False)
top_schools = overall_high_low.head(5)
top_schools

,School Type,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passed Math,% Passed Reading,% Overall Passing
school_name,,,,,,,,
Cabrera High School,Charter,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

In [42]:
overall_low_high = school_summary.sort_values(by=['% Overall Passing'])
bottom_schools = overall_low_high.head(5)
bottom_schools

,School Type,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passed Math,% Passed Reading,% Overall Passing
school_name,,,,,,,,
Rodriguez High School,District,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

In [120]:
# Use the code provided to separate the data by grade
ninth_graders = student_df[(student_df["grade"] == "9th")]
tenth_graders = student_df[(student_df["grade"] == "10th")]
eleventh_graders = student_df[(student_df["grade"] == "11th")]
twelfth_graders = student_df[(student_df["grade"] == "12th")]

ninth_graders_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_graders_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_graders_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_grader_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]


#Combine into a single dataframe (Math Scores)

math_scores_by_grade = pd.DataFrame({"Avg. 9th Grade Math Score" : ninth_graders_math_scores, 
                                     "Avg. 10th Grade Math Score" : tenth_graders_math_scores,
                                     "Avg. 11th Grade Math Score" : eleventh_graders_math_scores,
                                     "Avg. 12th Grade Math Score" : twelfth_grader_math_scores})

math_scores_by_grade

,Avg. 9th Grade Math Score,Avg. 10th Grade Math Score,Avg. 11th Grade Math Score,Avg. 12th Grade Math Score
school_name,,,,
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

In [121]:
#Code for avg. reading scores by grade
ninth_graders_read_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_graders_read_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_graders_read_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_grader_read_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

#Combine into a single dataframe (Reading Scores)
reading_scores_by_grade = pd.DataFrame({"Avg. 9th Grade Reading Score" : ninth_graders_read_scores, 
                                     "Avg. 10th Grade Reading Score" : tenth_graders_read_scores,
                                     "Avg. 11th Grade Reading Score" : eleventh_graders_read_scores,
                                     "Avg. 12th Grade Reading Score" : twelfth_grader_read_scores})

reading_scores_by_grade

,Avg. 9th Grade Reading Score,Avg. 10th Grade Reading Score,Avg. 11th Grade Reading Score,Avg. 12th Grade Reading Score
school_name,,,,
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

In [69]:
#Establish Bins
spending_bins = [0, 585, 630, 645, 680]
spending_names= ["<$585", "$585-630", "$630-645", "$645-680"]

In [70]:
#create a copy of school summary for the "per student budget"
school_spending_df = school_summary.copy()

In [71]:
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], spending_bins, labels = spending_names)
school_spending_df

,School Type,Total School Budget,Total Student Count,Per Student Budget,Average Math Score,Average Reading Score,% Passed Math,% Passed Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,3124928,4976,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Cabrera High School,Charter,1081356,1858,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,District,1884411,2949,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Ford High School,District,1763916,2739,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Griffin High School,Charter,917500,1468,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Hernandez High School,District,3022020,4635,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
Holden High School,Charter,248087,427,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Huang High School,District,1910635,2917,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
Johnson High School,District,3094650,4761,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
Pena High School,Charter,585858,962,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Rodriguez High School,District,2547363,3999,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Shelton High School,Charter,1056600,1761,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Thomas High School,Charter,1043130,1635,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645
Wilson High School,Charter,1319574,2283,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Wright High School,Charter,1049400,1800,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

In [60]:
#Calculating average scores
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passed Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passed Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [63]:
#Create Dataframe based on spending scores:
spending_performance_df = pd.DataFrame({"Average Math Scores" : spending_math_scores,
                                        "Average Reading Scores": spending_reading_scores,
                                        "Avg. % Passed Math": spending_passing_math,
                                        "Avg. % Passed Reading" : spending_passing_reading,
                                        "Avg. % Passed overall" : overall_passing_spending
    
})
spending_performance_df

,Average Math Scores,Average Reading Scores,Avg. % Passed Math,Avg. % Passed Reading,Avg. % Passed overall
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

In [65]:
#Create a Dataframe based on class size:
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [73]:
school_size_df = school_summary.copy()

In [75]:
school_size_df["School Size"] = pd.cut(school_size_df["Total Student Count"], size_bins, labels = size_labels)
school_size_df

,School Type,Total School Budget,Total Student Count,Per Student Budget,Average Math Score,Average Reading Score,% Passed Math,% Passed Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Bailey High School,District,3124928,4976,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,Charter,1081356,1858,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,District,1884411,2949,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,District,1763916,2739,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,Charter,917500,1468,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Hernandez High School,District,3022020,4635,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Holden High School,Charter,248087,427,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Huang High School,District,1910635,2917,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Johnson High School,District,3094650,4761,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Pena High School,Charter,585858,962,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Rodriguez High School,District,2547363,3999,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
Shelton High School,Charter,1056600,1761,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Thomas High School,Charter,1043130,1635,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
Wilson High School,Charter,1319574,2283,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Wright High School,Charter,1049400,1800,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)